en-us/README
en-us/am/final.mdl
en-us/am/tree
en-us/conf/mfcc.conf
en-us/conf/model.conf
en-us/graph/disambig_tid.int
en-us/graph/HCLG.fst
en-us/graph/num_pdfs
en-us/graph/phones.txt
en-us/graph/words.txt
en-us/graph/phones/align_lexicon.int
en-us/graph/phones/align_lexicon.txt
en-us/graph/phones/disambig.int
en-us/graph/phones/disambig.txt
en-us/graph/phones/optional_silence.csl
en-us/graph/phones/optional_silence.int
en-us/graph/phones/optional_silence.txt
en-us/graph/phones/silence.csl
en-us/graph/phones/word_boundary.int
en-us/graph/phones/word_boundary.txt
en-us/ivector/final.dubm
en-us/ivector/final.ie
en-us/ivector/final.mat
en-us/ivector/global_cmvn.stats
en-us/ivector/online_cmvn.conf
en-us/ivector/splice.conf
en-us/rescore/G.fst
en-us/rnnlm/feat_embedding.final.mat
en-us/rnnlm/final.raw
en-us/rnnlm/special_symbol_opts.conf
en-us/rnnlm/special_symbol_opts.txt
en-us/rnnlm/word_feats.txt
en-us-light/README
en-us-light/am/final.mdl
en-us-light/conf/mfcc.conf
en-us-light/conf/model.conf
en-us-light/graph/disambig_tid.int
en-us-light/graph/Gr.fst
en-us-light/graph/HCLr.fst
en-us-light/graph/phones/word_boundary.int
en-us-light/ivector/final.dubm
en-us-light/ivector/final.ie
en-us-light/ivector/final.mat
en-us-light/ivector/global_cmvn.stats
en-us-light/ivector/online_cmvn.conf
en-us-light/ivector/splice.conf
